@font-face {
    font-family: Lavanderia;
    src: url("../Fonts/Mohave.otf");
}
body {
    background-color: rgb(10, 10, 10);
    color: #d9d9d9;
}
.Title {
    text-align: center;
    font-size: 70pt;
    font-family: Mohave;
    width: 100%;
    padding-top: 20px;
}
#HouseContainer {
    display: flex;
}
.IndContainer {
    margin-top: 170px;
    margin-bottom: 80px;
    // padding-top: 100px;
    // padding-bottom: 100px;
    //width: 150px;
    //  vertical-align: middle;
    height: 250px;
    flex-grow: 1;
    flex-basis: 20%;
    position: relative;
}
@mixin DoGlowingText($name, $inInnerColor, $inOuterColor, $inInnerColorDown) {
     @keyframes #{$name}NeonText{
        from {
            // text-shadow: 0 0 10px $inInnerColor, 0 0 20px $inInnerColor, 0 0 30px $inInnerColor, 0 0 40px $inOuterColor, 0 0 70px $inOuterColor, 0 0 80px $inOuterColor, 0 0 100px $inOuterColor, 0 0 150px $inOuterColor, 2px 2px rgb(0, 0, 0), -2px -2px rgb(0, 0, 0), 2px -2px rgb(0, 0, 0), -2px 2px rgb(0, 0, 0);
            @include StaticGlowTxtUp($name, $inInnerColor, $inOuterColor);
        }
        to {
            //  text-shadow: 0 0 5px $inInnerColor, 0 0 10px $inInnerColor, 0 0 15px $inInnerColor, 0 0 20px $inOuterColor, 0 0 35px $inOuterColor, 0 0 40px $inOuterColor, 0 0 50px $inOuterColor, 0 0 75px $inOuterColor, 2px 2px rgb(0, 0, 0), -2px -2px rgb(0, 0, 0), 2px -2px rgb(0, 0, 0), -2px 2px rgb(0, 0, 0);
            @include StaticGlowTxtDown($name, $inInnerColorDown, $inOuterColor);
        }
    }
    @keyframes #{$name}NeonTextReverse {
        from {
            //  text-shadow: 0 0 5px $inInnerColor, 0 0 10px $inInnerColor, 0 0 15px $inInnerColor, 0 0 20px $inOuterColor, 0 0 35px $inOuterColor, 0 0 40px $inOuterColor, 0 0 50px $inOuterColor, 0 0 75px $inOuterColor, 2px 2px rgb(0, 0, 0), -2px -2px rgb(0, 0, 0), 2px -2px rgb(0, 0, 0), -2px 2px rgb(0, 0, 0);
            @include StaticGlowTxtDown($name, $inInnerColorDown, $inOuterColor);
        }
        to {
            //    text-shadow: 0 0 10px $inInnerColor, 0 0 20px $inInnerColor, 0 0 30px $inInnerColor, 0 0 40px $inOuterColor, 0 0 70px $inOuterColor, 0 0 80px $inOuterColor, 0 0 100px $inOuterColor, 0 0 150px $inOuterColor, 2px 2px rgb(0, 0, 0), -2px -2px rgb(0, 0, 0), 2px -2px rgb(0, 0, 0), -2px 2px rgb(0, 0, 0);
            @include StaticGlowTxtUp($name, $inInnerColor, $inOuterColor);
        }
    }
}
@mixin SoftText($name, $inInnerColor, $inOuterColor) {
     @keyframes #{$name}NeonText{
        from {
            text-shadow: 0 0 10px $inInnerColor, 0 0 15px $inOuterColor, 0 0 25px $inOuterColor, 0 0 40px $inOuterColor, 0 0 50px $inOuterColor, 0 0 70px $inOuterColor;
        }
        to {
            text-shadow: 0 0 5px $inInnerColor, 0 0 10px $inOuterColor, 0 0 15px $inOuterColor, 0 0 30px $inOuterColor, 0 0 40px $inOuterColor, 0 0 60px $inOuterColor;
        }
    }
}
.Houses {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 240px;
    vertical-align: middle;
    //display: table-cell;
    //box-shadow: inset -3px -3px 1px 1px #4a5262, inset 3px 3px 1px 1px #dee8fb;
    font-family: Lavanderia;
    font-size: 62pt;
    color: rgb(255, 255, 255);
    //text-shadow: 2px 2px rgb(45, 45, 45), -2px -2px rgb(45, 45, 45), -2px 2px rgb(45, 45, 45), 2px -2px rgb(45, 45, 45);
}
.overLap {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    left: 0;
    top: 0;
}
$LightSide: rgba(255, 255, 255, 0.4);
$DarkSide: rgba(0, 0, 0, 0.4);
$LightSidePressed: rgba(0, 0, 0, 0.4);
$DarkSidePressed: rgba(200, 200, 200, 0.25);
@mixin DoubleGlowAnim($inCoUp, $inCoDown, $inGlUp, $inGlDown, $class) {
     @keyframes #{$class}HoverFadeIn{
        0% {
            background-color: $inCoUp;
            box-shadow: 0 0 40px 10px $inGlUp, inset -3px -3px 1px 1px $DarkSide, inset 3px 3px 1px 1px $LightSide;
        }
        100% {
            background-color: $inCoDown;
            box-shadow: 0 0 50px 5px $inGlDown, inset -3px -3px 1px 1px $DarkSide, inset 3px 3px 1px 1px $LightSide;
        }
    }
    @keyframes #{$class}HoverFadeOut {
        0% {
            background-color: $inCoDown;
            box-shadow: 0 0 40px 10px $inGlDown, inset -3px -3px 1px 1px $DarkSide, inset 3px 3px 1px 1px $LightSide;
            z-index: 5;
        }
        100% {
            background-color: $inCoUp;
            box-shadow: 0 0 50px 5px $inGlUp, inset -3px -3px 1px 1px $DarkSide, inset 3px 3px 1px 1px $LightSide;
            z-index: 0;
        }
    }
}
@mixin StaticGlowTxtUp($name, $inInnerColor, $inOuterColor) {
    text-shadow: 0 0 10px $inInnerColor, 0 0 20px $inInnerColor, 0 0 30px $inInnerColor, 0 0 40px $inOuterColor, 0 0 70px $inOuterColor, 0 0 80px $inOuterColor, 0 0 100px $inOuterColor, 0 0 150px $inOuterColor, 3px 3px rgb(0, 0, 0), -3px -3px rgb(0, 0, 0), 3px -3px rgb(0, 0, 0), -3px 3px rgb(0, 0, 0), 3px 0px rgb(0, 0, 0), -3px 0px rgb(0, 0, 0), 0px -3px rgb(0, 0, 0), 0px 3px rgb(0, 0, 0);
}
          //  text-shadow: 0 0 5px $inInnerColor, 0 0 10px $inOuterColor, 0 0 15px $inOuterColor, 0 0 30px $inOuterColor, 0 0 40px $inOuterColor, 0 0 60px $inOuterColor;
@mixin StaticGlowTxtDown($name, $inInnerColor, $inOuterColor) {
    text-shadow: 0 0 3px $inInnerColor, 0 0 5px $inInnerColor, 0 0 10px $inInnerColor, 0 0 15px $inOuterColor, 0 0 25px $inOuterColor, 0 0 30px $inOuterColor, 0 0 40px $inOuterColor, 0 0 60px $inOuterColor, 3px 3px rgb(0, 0, 0), -3px -3px rgb(0, 0, 0), 3px -3px rgb(0, 0, 0), -3px 3px rgb(0, 0, 0), 3px 0px rgb(0, 0, 0), -3px 0px rgb(0, 0, 0), 0px -3px rgb(0, 0, 0), 0px 3px rgb(0, 0, 0);
}
@mixin AnimBootstrapUp($class) {
    //  animation: TitleNeonText 1.5s ease-in-out infinite alternate;
    animation-name: #{$class}HoverFadeOut, #{$class}NeonTextReverse;
    animation-duration: 0.2s, 0.3s;
    animation-timing-function: ease-in, ease-in-out;
    animation-iteration-count: 1, 1;
    animation-direction: normal, normal;
    z-index: 0;
}
@mixin AnimBootstrapDown($class) {
    animation-name: #{$class}HoverFadeIn, #{$class}NeonText;
    animation-duration: 0.2s, 0.3s;
    animation-timing-function: ease-in, ease-in-out;
    animation-iteration-count: 1, 1;
    animation-direction: normal, normal;
    z-index: 5;
}
@mixin EverythingBundle($inClass, $inCoUp, $inCoDown, $inCoPressed, $inGlUp, $inGlDown, $inGlPressed, $inTeUp, $inTePressed) {
    background-color: $inCoUp;
    color: $inTeUp;
    box-shadow: 0 0 40px 10px $inGlUp, inset -3px -3px 1px 1px $DarkSide, inset 3px 3px 1px 1px $LightSide;
    position: absolute;
    left: 0;
    top: 0;
    @include StaticGlowTxtUp($inClass, $inTeUp, $inCoDown);
    @include AnimBootstrapUp($inClass);
    &:hover {
        background-color: $inCoDown;
        box-shadow: 0 0 50px 5px $inGlDown, inset -3px -3px 1px 1px $DarkSide, inset 3px 3px 1px 1px $LightSide;
        @include StaticGlowTxtDown($inClass, rgba(255, 255, 255, 0.5), $inCoDown);
        @include AnimBootstrapDown($inClass);
        &:active {
            background-color: $inCoPressed;
            color: $inTePressed;
            box-shadow: 0 0 50px 5px $inGlPressed, inset -3px -3px 1px 1px $DarkSidePressed, inset 3px 3px 1px 1px $LightSidePressed;
        }
    }
    @at-root {
        @include DoGlowingText($inClass, $inTeUp, $inCoDown, rgba(255, 255, 255, 0.5));
        @include DoubleGlowAnim($inCoUp, $inCoDown, $inGlUp, $inGlDown, $inClass);
    }
}
.Sheppard {
    $Class: "Sheppard";
    $ColorUp: rgb(57, 142, 255);
    $GlowUp: rgba(24, 165, 255, 0.25);
    $ColorDown: rgb(0, 117, 255);
    $GlowDown: rgba(24, 165, 255, 0.8);
    $ColorPressed: rgb(0, 80, 175);
    $GlowPressed: rgba(22, 129, 198, 0.63);
    $TextUp: rgb(213, 231, 252);
    $TextPressed: rgb(158, 182, 209);
    @include EverythingBundle($Class, $ColorUp, $ColorDown, $ColorPressed, $GlowUp, $GlowDown, $GlowPressed, $TextUp, $TextPressed);
}
.Snell {
    $Class: "Snell";
    $ColorUp: rgb(60, 60, 60);
    $GlowUp: rgba(150, 150, 150, 0.25);
    $ColorDown: rgb(80, 80, 80);
    $GlowDown: rgba(150, 150, 150, 0.8);
    $ColorPressed: rgb(24, 24, 24);
    $GlowPressed: rgba(97, 97, 97, 0.61);
    $TextUp: rgb(240, 240, 240);
    $TextPressed: rgb(210, 210, 210);
    @include EverythingBundle($Class, $ColorUp, $ColorDown, $ColorPressed, $GlowUp, $GlowDown, $GlowPressed, $TextUp, $TextPressed);
}
.Hillary {
    $Class: "Hillary";
    $ColorUp: rgb(255, 255, 69);
    $GlowUp: rgba(243, 255, 24, 0.25);
    $ColorDown: rgb(255, 255, 17);
    $GlowDown: rgba(250, 255, 24, 0.8);
    $ColorPressed: rgb(166, 175, 0);
    $GlowPressed: rgba(194, 198, 22, 0.63);
    $TextUp: rgb(250, 252, 213);
    $TextPressed: rgb(209, 207, 158);
    @include EverythingBundle($Class, $ColorUp, $ColorDown, $ColorPressed, $GlowUp, $GlowDown, $GlowPressed, $TextUp, $TextPressed);
}
.Rutherford {
    $Class: "Rutherford";
    $ColorUp: rgb(204, 68, 68);
    $GlowUp: rgba(255, 24, 24, 0.25);
    $ColorDown: rgb(235, 27, 27);
    $GlowDown: rgba(255, 24, 24, 0.8);
    $ColorPressed: rgb(160, 0, 0);
    $GlowPressed: rgba(198, 22, 22, 0.63);
    $TextUp: rgb(252, 213, 213);
    $TextPressed: rgb(209, 158, 158);
    @include EverythingBundle($Class, $ColorUp, $ColorDown, $ColorPressed, $GlowUp, $GlowDown, $GlowPressed, $TextUp, $TextPressed);
    font-size: 55pt;
}
.TePuea {
    $Class: "TePuea";
    $ColorUp: rgb(108, 189, 63);
    $GlowUp: rgba(24, 255, 61, 0.25);
    $ColorDown: rgb(15, 226, 55);
    $GlowDown: rgba(24, 255, 27, 0.8);
    $ColorPressed: rgb(10, 143, 27);
    $GlowPressed: rgba(22, 198, 23, 0.63);
    $TextUp: rgb(215, 252, 213);
    $TextPressed: rgb(159, 209, 158);
    @include EverythingBundle($Class, $ColorUp, $ColorDown, $ColorPressed, $GlowUp, $GlowDown, $GlowPressed, $TextUp, $TextPressed);
}
