@font-face {
    font-family: Mohave;
    src: url(../Fonts/Mohave.otf);
}
body {
    background-color: rgb(10, 10, 10);
    color: #d9d9d9;
}
.Title {
    text-align: center;
    font-size: 70pt;
    font-family: Mohave;
    /*display:inline-block;*/
    text-align: center;
    width: 100%;
}
#HouseContainer {
    display: flex;
}
#titleImage{
  /*-webkit-filter:brightness(100%);
  -moz-filter:brightness(100%);
  filter: url(#brightness);
  filter:brightness(50%);*/
}
#titleBrightness {
    width: auto;
    height: auto;
    background: white;
    position: absolute;
    opacity: 0;
}
.Houses {
    margin-top: 170px;
    margin-bottom: 80px;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    border: solid 5px white;
    border-right-width: 3px;
    border-left-width: 3px;
}
.Sheppard {
    flex-grow: 1;
    border-left-width: 6px;
    /*text-align: inherit;*/
    /*border-right: solid 5px white;*/
}
.Snell {
    flex-grow: 1;
    /*text-align: inherit;*/
}
.Hillary {
    flex-grow: 1;
    /*text-align: inherit;*/
}
.Rutherford {
    flex-grow: 1;
    /*text-align: inherit;*/
}
.TePuea {
    flex-grow: 1;
    border-right-width: 6px;
    /*text-align: inherit;*/
}
.Footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #d1d1d1;
}
